/**
 * ADVICE.CSS
 */
#advice-section {
  position: relative;
  display: flex;
  min-height: 230px;
  width: inherit;
  transition: all .2s ease-in-out;
}
#advice-section > div {
  position: absolute;
  inset: 0;
}
#advice-section > div  {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all .1s ease-in-out;
}
#advice-section > div.fade-in {
  opacity: 1;
}
#advice-section > div > div {
  padding: 10px;
}
#advice-section > div > div:first-child {
  font-size: 6rem;
  width: 5%;
}
#advice-section > div > div:nth-child(2) {
  font-size: 1.75rem;
  position: relative;
  width: 40%;
}
#advice-section > div > div:nth-child(3) {
  width: 50%;
}
/* BIG SCREEN > 1920
________________________________________________________ */
@media only screen and (min-width: 1921px) {
}
/* MEDIUM SCREEN > 1365
________________________________________________________ */
@media only screen and (max-width: 1920px) {
}
/* SMALL SCREEN > 1023
________________________________________________________ */
@media only screen and (max-width: 1365px) {
  #advice-section {
    min-height: 280px;
  }
}
/* TABLET > 500
________________________________________________________ */
@media only screen and (max-width: 1024px) {
  #advice-section {
    min-height: 400px;
  }
  #advice-section > div {
    flex-direction: column;
    height: auto;
  }
  #advice-section > div > div:nth-child(3) {
    width: 100%;
  }
  #advice-section > div > div:nth-child(2) {
    width: 100%;
    text-align: center;
  }
}
/* MOBILE < 500
________________________________________________________ */
@media only screen and (max-width: 500px) {
  /* Outside of Scope careful */
  #content-wrapper > div > div.spacinho:first-child {
    display: none;
  }
  /* */
  #advice-section {
    height: 450px;
  }
  #advice-section > div {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  #advice-section > div > div:first-child {
    font-size: 4rem;
    text-align: center;
    width: calc(100% - 20px);
  }
  #advice-section > div > div:nth-child(2) {
    line-height: 4rem;
    font-size: 1.25rem;
    position: relative;
    width: 80%;
  }
  #advice-section > div > div:nth-child(3) {
    font-size: 1.25rem;
    width: auto;
    height: auto;
  }
}