/**
 * FOCUS-ITEM.CSS
 */
#screener {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background: rgb(40, 42, 44, .75);
  z-index: 20;
  transition: all .2s ease-in-out;
}
#screener > div:nth-child(even) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 600px;
  height: 500px;
}
#screener > div:nth-child(even) > div:first-of-type {
  position: absolute;
  inset: 0;
}
/* DARK BOTTOM TO MAKE BUTTONS MORE READABLE */
#screener > div:nth-child(even)::before {
  position: absolute;
  content: ' ';
  inset: 0;
  background: linear-gradient(rgb(255,255,255,0) 80%, rgb(0,0,0,.4));
  z-index: 5;
}
/* CATEGORY & CLOSING 'X' MARK - TOP LINE CONTAINER */
#screener > div:nth-child(even) > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  color: var(--primary);
  z-index: 10;
}
/* CATEGORY NAME TOP LEFT */
#screener > div:nth-child(even) > div:nth-child(2) > div:first-of-type {
  font-size: 1.25rem;
  padding: 0 10px;
  transform: translateY(-35px);
  text-transform: capitalize;
}
/* CROSS TOP RIGHT */
#screener > div:nth-child(even) > div:nth-child(2) > div:nth-child(2) {
  padding: 20px;
  cursor: pointer;
  filter: drop-shadow(0 0 5px dimgrey);
}
#screener > div:nth-child(even) > div:nth-child(2) > div:nth-child(2):hover {
  color: var(--secondary);
}
/* BUTTON */
#screener > div:nth-child(even) > div:last-child {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.25rem;
  color: var(--primary);
  margin-bottom: 10px;
  z-index: 5;
}
#screener > div:nth-child(even) > div:last-child > a {
  color: var(--primary);
  position: relative;
  filter: drop-shadow(0 0 4px dimgrey);
  padding: 10px 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
#screener > div:nth-child(even) > div:last-child > a::before {
  position: absolute;
  content: ' ';
  inset: 0;
  transform: scaleX(0);
  border-bottom: 2px solid white;
  transition: all .1s ease-in-out;
}
#screener > div:nth-child(even) > div:last-child > a:hover::before {
  transform: scaleX(1);
}
/* SIDE ARROWS */
#screener > div:nth-child(odd) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: auto;
  color: var(--primary);
  cursor: pointer;
  font-family: monospace;
  padding: 0 10px;
}
/* PREV. */
#screener > #previous::before {
  font-size: .75rem;
  content:'PREC.';
  transform: translateX(-10px);
  opacity: 0;
  transition: all .1s ease-in-out;
}
#screener > #next::after {
  font-size: .75rem;
  content:'SUIV.';
  transform: translateX(10px);
  opacity: 0;
  transition: all .1s ease-in-out;
}
#screener > #next:hover::after, #screener > #previous:hover::before {
  opacity: 1;
}
/* BIG SCREEN > 1920
________________________________________________________ */
@media only screen and (min-width: 1921px) {
}
/* MEDIUM SCREEN > 1365
________________________________________________________ */
@media only screen and (max-width: 1920px) {
}
/* SMALL SCREEN > 1023
________________________________________________________ */
@media only screen and (max-width: 1365px) {
}
/* TABLET > 500
________________________________________________________ */
@media only screen and (max-width: 1023px) {
}
/* MOBILE < 500
________________________________________________________ */
@media only screen and (max-width: 500px) {
}