/**
 * FOLLOWUS.CSS
 */
@media only screen and (min-width: 1400px) {
  #follow-us {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    text-align: center;
  }
  #follow-us i {
    margin: 5px;
  }
  #follow-us h3 {
    width: inherit;
  }
  #social-icons {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}