/** 
 * GRID.CSS
 */
#grid {
  display: grid;
  grid-template-columns: repeat(10, auto);
  width: var(--medium);
  gap: 10px;
}
#grid > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  grid-column: span 2;
  grid-row: span 3;
  opacity: 1;
  background-size: cover!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  cursor: pointer;
}
#grid > div > a {
  height: 100%;
  width: 100%;
  z-index: 5;
}
#grid > div::after {
  position: absolute;
  inset: 0;
  content: ' ';
  background: var(--primary);
  opacity: 0;
  transition: all .2s ease-in-out;
}
#grid > div:hover {
  opacity: .8;
  background-color: red;
}
#grid > div.blur::after {
  opacity: .7;
}
#grid > div.blur {
  pointer-events: none;
}
#grid > div:nth-child(31n + 1),
#grid > div:nth-child(31n + 6),
#grid > div:nth-child(31n + 3),
#grid > div:nth-child(31n + 7) {
  grid-row: span 2;
}
#grid > div:nth-child(31n + 2),
#grid > div:nth-child(31n + 5),
#grid > div:nth-child(31n + 25) {
  grid-row: span 4;
}
#grid > div:nth-child(31n + 15) {
  grid-row: span 6;
  grid-column: span 4;
}
#grid > div:nth-child(31n + 22),
#grid > div:nth-child(31n + 23),
#grid > div:nth-child(31n + 24) {
  grid-row: span 6;
}
#grid > div:nth-child(31n + 27),
#grid > div:nth-child(31n + 28),
#grid > div:nth-child(31n + 29) {
  grid-row: span 6;
}
#grid > div:nth-child(31n + 31) {
  grid-row: span 6;
}
/* BIG SCREEN > 1920
________________________________________________________ */
@media only screen and (min-width: 1921px) {
}
/* MEDIUM SCREEN > 1365
________________________________________________________ */
@media only screen and (max-width: 1920px) {
}
/* SMALL SCREEN > 1023
________________________________________________________ */
@media only screen and (max-width: 1365px) {
  #grid {
    width: var(--small);
  }
}
/* TABLET > 500
________________________________________________________ */
@media only screen and (max-width: 1024px) {
  #grid {
    width: var(--xs);
  }
}
/* MOBILE < 500
________________________________________________________ */
@media only screen and (max-width: 500px) {
  #grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: none;
    grid-template-rows: none;
    width: 100%;
  }
  #grid > div {
    min-height: 180px;
    width: calc((100% / 2) - 5px);
  }
  #grid > div > a {
    position: absolute;
    inset: 0;
    z-index: 5;
  }
}