/**
 * HEADER.CSS
 */
@media only screen and (min-width: 1400px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: var(--section-width);
    transition: all .3s ease-in-out;
  }
  header.small-header {
    height: 145px;
  }
  #home-spacer {
    margin: 0;
    padding: 0;
    width: inherit;
    height: calc(100vh - 220px);
  }
}
/* RESPONSIVE */
@media only screen and (max-width: 550px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  #lang {
    width: 36px;
    font-size: 12px;
  }
  #fixed-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    inset: 0;
    padding: 5px 20px;
    background: var(--primary);
    height: 50px;
    z-index: 8;
  }
}