/**
 * HEADER.CSS
 */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  width: var(--medium);
  transition: all .2s ease-in-out;
}
header.small-header {
  height: 145px;
}
#home-spacer {
  margin: 0;
  padding: 0;
  width: inherit;
  height: calc(100vh - 220px);
}
/* BIG SCREEN > 1920
________________________________________________________ */
@media only screen and (min-width: 1921px) {
}
/* MEDIUM SCREEN > 1365
________________________________________________________ */
@media only screen and (max-width: 1920px) {
}
/* SMALL SCREEN > 1023
________________________________________________________ */
@media only screen and (max-width: 1365px) {
}
/* TABLET > 500
________________________________________________________ */
@media only screen and (max-width: 1024px) {
  header {
    width: var(--small);
  }
}
/* MOBILE < 500
________________________________________________________ */
@media only screen and (max-width: 500px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  #lang {
    width: 36px;
    font-size: 12px;
  }
  #fixed-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    inset: 0;
    padding: 5px 20px;
    background: var(--primary);
    height: 50px;
    z-index: 8;
  }
}