/**
 * ITEM.CSS
 */
#item {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
/* Item header container */
#item > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* Item title div container */
#item > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* Item title */
#item > div:first-of-type > span:first-of-type {
  font-family: var(--kalinsha);
  font-size: 5rem;
  text-transform: capitalize;
}
/* Item category */
#item > div:first-of-type > span:nth-child(2) {
  font-family: var(--arnopro);
  font-size: 1rem;
  line-height: 1rem;
  text-transform: capitalize;
  margin: 25px;
  padding-top: 15px;
  border-top: 1px solid var(--secondary);
}
/* BODY */
/* 2 remaining DIVs width=400px => 1. left gallery // 2. right item specs */
#item > div:not(:first-of-type) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 10px;
}
/* Left section */
#item > div.item-gallery > div:first-child {
  height: 394px;
  width: 394px;
  background-position: center!important;
  background-size: cover!important;
  border: 3px solid var(--primary);
}
#item > div.item-gallery > div:not(:first-child) {
  width: 72px;
  height: 72px;
  background-position: center!important;
  background-size: cover!important;
  cursor: pointer;
  border: 3px solid var(--primary);
}
#item > div.item-gallery > div.selected {
  border: 3px solid var(--secondary);
}
#item > div.item-gallery > div:first-child:hover {
  border: 3px solid var(--primary);
}
#item > div.item-gallery > div:hover {
  border: 3px solid var(--secondary);
}
#item > div.item-gallery > span {
  margin: 15px 0;
  font-size: 1.25rem;
}
/* RIGHT SECTION */
/* Price */
#item > div:nth-child(3) > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#item > div:nth-child(3) > div > span:first-of-type {
  font-size: 3rem;
}
#item > div:nth-child(3) > ul {
  list-style: none;
  width: 100%;
}
#item > div:nth-child(3) > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#item > div:nth-child(3) > ul > li > span.item-prop {
  font-size: .9rem;
  text-transform: uppercase;
  font-family: monospace;
  color: slategrey;
}
#item > div:nth-child(3) > ul > li > span:nth-child(2) {
  height: 1rem;
  border-bottom: 1px dotted lightgrey;
  width: 100%;
  margin: 0 10px;
}
#item > div:nth-child(3) > ul > li > span:nth-child(3) {
  white-space: nowrap;
  text-align: right;
}
/* ACCESSORIES SECTION
________________________________________________________ */
/* Wrapper */
#item > div:nth-child(3) > div#accessories {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
/* Title */
#item > div:nth-child(3) > div#accessories > div:first-of-type {
  width: 100%;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 20px;
  text-align: center;
}
/* TOOLTIP
________________________________________________________ */
/* Tooltip container */
#item > div:nth-child(3) > div#accessories > div {
  position: relative;
}
/* Tooltip itself */
#item > div:nth-child(3) > div#accessories > div > div.tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  width: 200px;
  padding: 10px;
  border-radius: 4px;
  top: -108px;
  left: -74px;
  font-size: 1rem;
  color: var(--primary);
  background: var(--secondary);
  opacity: 0;
  transition: all .1s ease-in-out;
}
/* Tooltip picture */
#item > div:nth-child(3) > div#accessories > div > div.tooltip > div {
  height: 70px;
  width: 70px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Tooltip bottom 'angle down' */
#item > div:nth-child(3) > div#accessories > div > div.tooltip::after {
  position: absolute;
  content: ' ';
  bottom: 0;
  left: 98px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background:  var(--secondary);
  width: 20px;
  height: 7px;
  transform: rotate(180deg) translateY(-6px);
}
#item > div:nth-child(3) > div#accessories > div > div:nth-child(1):hover + div.tooltip {
  opacity: 1;
}
/* Round button */
#item > div:nth-child(3) > div#accessories > div > div:nth-child(1) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background: var(--secondary);
  color: var(--primary);
  margin-bottom: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
/* Transition on purchased */
#item > div:nth-child(3) > div#accessories > div > div > i {
  z-index: 5;
}
#item > div:nth-child(3) > div#accessories > div > div:nth-child(1)::before {
  position: absolute;
  content: ' ';
  border-radius: 35px;
  transform: scale(0);
  inset: 0;
  background: var(--active);
  transition: all .2s ease-in-out;
}
#item > div:nth-child(3) > div#accessories > div > div.purchased::before {
  transform: scale(1);
}
#item > div:nth-child(3) > div#accessories > div > div:nth-child(1):hover {
  opacity: .9;
}
/* BIG SCREEN > 1920
________________________________________________________ */
@media only screen and (min-width: 1921px) {
}
/* MEDIUM SCREEN > 1365
________________________________________________________ */
@media only screen and (max-width: 1920px) {
}
/* SMALL SCREEN > 1023
________________________________________________________ */
@media only screen and (max-width: 1365px) {
}
/* TABLET > 500
________________________________________________________ */
@media only screen and (max-width: 1023px) {
}
/* MOBILE < 500
________________________________________________________ */
@media only screen and (max-width: 500px) {
  #item {
    flex-wrap: wrap;
    height: auto;
  }
  #item > div {
    width: inherit;
    height: auto;
    margin: 0;
  }
  /* BODY */
  /* 2 remaining DIVs width=100% => 1. top gallery // 2. bottom item specs */
  #item > div:not(:first-of-type) {
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  #item > div.item-gallery > div:first-child {
    /* 1:1 aspect ratio trick */
    height: calc(100vw - 46px);
    width: calc(100vw - 46px);
  }
  #item > div.item-gallery > div:not(:first-child) {
    width: calc((100vw / 5) - 14px);
    height: calc((100vw / 5) - 14px);
  }
  /* Item specs */
  #item > div:nth-child(3) > ul {
    list-style: none;
    width: 100%;
    padding: 10px;
  }
  /* TOOL TIPS */
  /* Item accessories tooltip */
  #item > div:nth-child(3) > div#accessories > div > div.tooltip {
    width: auto;
  }
  /* Tooltip picture */
  #item > div:nth-child(3) > div#accessories > div > div.tooltip > div {
    display: none;
  }
  /* Tooltip width */
  #item > div:nth-child(3) > div#accessories > div > div.tooltip {
    left: -10px;
  }
  /* Tooltip down angle */
  #item > div:nth-child(3) > div#accessories > div > div.tooltip::after {
    left: 33px;
  }
}