/**
 * ITEM.CSS
 */
#item {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
}
#item > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  height: inherit;
  margin: 0 10px;
}
/* left section */
#item > div.gallery > div:first-child {
  height: 394px;
  width: 394px;
  background-position: center!important;
  background-size: cover!important;
  cursor: pointer;
}
#item > div.gallery > div:not(first-child) {
  width: 72px;
  height: 72px;
  background-position: center!important;
  background-size: cover!important;
  cursor: pointer;
  border: 3px solid var(--primary);
}
#item > div.gallery > div.selected {
  border: 3px solid var(--secondary);
}
#item > div.gallery > div:first-child:hover {
  border: 3px solid var(--primary);
}
#item > div.gallery > div:hover {
  border: 3px solid var(--secondary);
}
/* right section */
#item > div > p {
  width: 100%;
  text-align: center;
}
#item > div > div#accessories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#item > div > div#accessories > div {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
}
#item > div > div#accessories > div > div:first-child {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: lightblue;
  margin-bottom: 10px;
}
@media only screen and (max-width: 550px) {
  #item {
    flex-wrap: wrap;
    height: auto;
  }
  #item > div {
    width: inherit;
    height: auto;
    margin: 0;
  }
  #item > div.gallery > div:first-child {
    /* 1:1 aspect ratio trick */
    height: calc(100vw - 40px);
    width: calc(100vw - 40px);
  }
  #item > div.gallery > div:not(first-child) {
    width: 60px;
    height: 60px;
  }
}