/**
 * navigator.CSS
 */
#navigator {
  position: fixed;
  left: 0;
  top: calc((120vh - 400px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  z-index: 0;
}
#navigator > a {
  width: inherit;
}
#navigator > a > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: inherit;
  height: 100px;
  cursor: pointer;
}
#navigator > a > div.active {
  background: lightgrey;
}
#navigator > a > div:hover {
  background: lightgrey;
}
#navigator > a > div > i {
  font-size: 2rem;
  margin: 15px;
}
#navigator > a > div > span {
  font-size: 1rem;
}
@media only screen and (max-width: 550px) {
}