/**
 * QUOTE.CSS
 */
#quote {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 630px;
  text-align: center;
}
#quote > span {
  font-size: 5rem;
}
#quote > span:last-child {
  padding-top: 120px;
}
#descr > h1 {
  margin-top: 0;
  text-align: center;
}
#descr {
  width: 800px;
}
/* RESPONSIVE */
@media (max-width: 550px) {
  #quote {
    display: none;
  }
  #descr {
    width: auto;
  }
}