/**
 * TAILORED.CSS
 */
#tailored {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* SEMI MESURE TOP TOOLTIP */
#tailored > div:first-of-type {
  width: auto;
  font-size: 1.25rem;
}
/* Span */
#tailored > div:first-of-type > span {
  position: relative;
  margin: 10px;
}
/* Tooltip DIV */
#tailored > div:first-of-type > div {
  background: var(--secondary);
  color: var(--primary);
  padding: 20px;
  transition: all .2s ease-in-out;
}
/* affecter .show à au next sibling, le faire apparaître via transform scaleY
#tailored > div:first-of-type > div.show {
  transform: scale(0);
}
#tailored > div:first-of-type > i {
  font-size: 1rem;
  cursor: pointer;
}
/* SUR MESURE CUTE WELCOME SCREEN */
#tailored > div:nth-child(2) {
  padding: 10px;
  width: 100%;
  height: 200px;
}
/* SUR MESURE TOGGLE FORM FORM BUTTON */
#tailored > div:nth-child(3) {
  align-self: center;
  border: 2px solid var(--secondary);
  padding: 10px;
}
/* SUR MESURE FORM */
#tailored > form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* ENCADRÉ PROPRIÉTÉS SUR MESURE */
#custom-article-props {
  width: fit-content;
  background: lightgreen;
  padding: 10px;
  font-family: monospace;
  font-size: .75rem;
  border-radius: 3px;
  border: 1px solid green;
}
/* BIG SCREEN > 1920
________________________________________________________ */
@media only screen and (min-width: 1921px) {
}
/* MEDIUM SCREEN > 1365
________________________________________________________ */
@media only screen and (max-width: 1920px) {
}
/* SMALL SCREEN > 1023
________________________________________________________ */
@media only screen and (max-width: 1365px) {
}
/* TABLET > 500
________________________________________________________ */
@media only screen and (max-width: 102px) {
}
/* MOBILE < 500
________________________________________________________ */
@media only screen and (max-width: 500px) {
}

/* Entry animation */
@-webkit-keyframes slide-down {
  0% { height: 0; }
  .1% { height: 250px; }
  100% { height: 250px; }
}
@keyframes slide-down {
  0% { height: 0; }
  .1% { height: 250px; }
  100% { height: 250px; }
}