/**
 * TAILORED.CSS
 */
#tailored {
  display: flex;
  align-items: center;
  justify-content: center;
}
#tailored > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* Entry animation */
@-webkit-keyframes slide-down {
  0% { height: 0; }
  .1% { height: 250px; }
  100% { height: 250px; }
}
@keyframes slide-down {
  0% { height: 0; }
  .1% { height: 250px; }
  100% { height: 250px; }
}

@media only screen and (max-width: 550px) {
}