/**
 * TAILORED.CSS
 */
#tailored {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 279px);
}
#tailored > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* Entry animation */
@-webkit-keyframes slide-down {
  0% { height: 0; }
  .1% { height: calc(100vh - 279px); }
}
@keyframes slide-down {
  0% { height: 0; }
  .1% { height: calc(100vh - 279px); }
}

@media only screen and (max-width: 550px) {
}