/**
 * VALUES.CSS
 */
#values {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: inherit;
}
#values > h1 {
  width: 100%;
}
#values > div {
  text-transform: uppercase;
  font-size: 1.75rem;
}
#values > div:nth-child(even) {
  width: 222px;
  text-align: center;
}
/* BIG SCREEN > 1920
________________________________________________________ */
@media only screen and (min-width: 1921px) {
}
/* MEDIUM SCREEN > 1365
________________________________________________________ */
@media only screen and (max-width: 1920px) {
}
/* SMALL SCREEN > 1023
________________________________________________________ */
@media only screen and (max-width: 1365px) {
}
/* TABLET > 500
________________________________________________________ */
@media only screen and (max-width: 1024px) {
}
/* MOBILE < 500
________________________________________________________ */
@media only screen and (max-width: 500px) {
  #values {
    flex-direction: column;
  }
}