/**
 * WEDDING DESIGN.CSS
 */
.wd-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 140px);
  width: inherit;
	gap: 10px;
}
.wd-gallery > div {
	background-size: cover;
	background-position: center;
  cursor: pointer;
}
.wd-gallery > div:nth-child(2), div:nth-child(4), div:nth-child(5) {
  grid-row: span 2;
}
.wd-gallery > div:nth-child(6) {
  grid-row: span 1;
}
/* FOCUS ITEM */
#screener {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background: rgb(40, 42, 44, .75);
  z-index: 20;
  transition: all .2s ease-in-out;
}
#screener > div > img {
  max-width: 500px;
}
/* SIDE ARROWS */
#screener > div:nth-child(odd) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: auto;
  color: var(--primary);
  cursor: pointer;
  font-family: monospace;
  padding: 0 10px;
}
/* PREV. */
#screener > #previous::before {
  font-size: .75rem;
  content:'PREC.';
  transform: translateX(-10px);
  opacity: 0;
  transition: all .1s ease-in-out;
}
#screener > #next::after {
  font-size: .75rem;
  content:'SUIV.';
  transform: translateX(10px);
  opacity: 0;
  transition: all .1s ease-in-out;
}
#screener > #next:hover::after, #screener > #previous:hover::before {
  opacity: 1;
}