/**
 * WORKSHOP.CSS
 */
#workshop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: inherit
}
/* HEADER WRAPPER */
#workshop > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: var(--kalinsha);
  font-size: 2.5rem;
}
/* HEADER PIC */
#workshop > div:first-of-type > img {
  width: 150px;
}
/* SECTIONS */
#workshop > section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  width: var(--medium);
}
#workshop > section > img {
  width: 300px;
}
#workshop > section > div > h1 {
  margin: 0 0 20px 0;
  font-family: var(--arnopro);
  font-size: 2rem;
}
/* BIG SCREEN > 1920
________________________________________________________ */
@media only screen and (min-width: 1921px) {
}
/* MEDIUM SCREEN > 1365
________________________________________________________ */
@media only screen and (max-width: 1920px) {
}
/* SMALL SCREEN > 1023
________________________________________________________ */
@media only screen and (max-width: 1365px) {
  #workshop > section {
    width: var(--small);
  }
}
/* TABLET > 500
________________________________________________________ */
@media only screen and (max-width: 1024px) {
  #workshop > section {
    width: var(--xs);
  }
}
/* MOBILE < 500
________________________________________________________ */
@media only screen and (max-width: 500px) {
}