/**
 * MOBILE > HEADER CSS
 */
@media only screen and (max-width: 550px) {
  #m-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  #lang {
    width: 36px;
    font-size: 12px;
  }
  #m-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 19px;
    right: 19px;
    background: var(--primary);
    height: 50px;
    z-index: 8;
  }
}