/**
 * MOBILE > MOBILE.CSS
 */
@media only screen and (max-width: 550px) {
  #m-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: auto;
  }
  #values {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #values > p:nth-child(odd) {
    margin: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
  }
  #values > p:nth-child(even) {
    font-size: 1.5rem;
    line-height: 1rem;
    margin: 0 auto;
  }
}