/**
 * MOBILE > TESTIMONIES.CSS
 */
@media only screen and (max-width: 550px) {
  #id-card {
    margin: 40px auto;
  }
  #id-card > p:first-of-type {
    font-size: 1.75rem;
    font-family: var(--kalinsha);
  }
  #id-card > p {
    font-size: 1rem;
    margin: 0.5rem auto;
  }
  #id-card > p:nth-child(4) {
    font-size: 1.5rem;
    margin: 3rem auto 0 auto;
  }
  #id-card > p:nth-child(4)::before {
    font-size: 2rem;
    line-height: 1.5rem;
    content: '“';
  }
  #id-card > p:nth-child(4)::after {
    font-size: 2rem;
    line-height: 1.5rem;
    content: '”';
  }
}