/**
 * DESKTOP > MENU.CSS
 */
#d-menu {
  display: flex;
  justify-content: space-around;
  width: 700px;
}
#d-menu > span {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  padding: 16px 0;
  transition: all .1s ease-in-out;
}
#d-menu > span:hover {
  border-bottom: 2px solid var(--secondary);
}
#d-menu > span > i {
  font-size: 1rem;
  margin: 4px;
}
#d-menu > span > span {
  padding-left: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
  font-size: 1rem;
}
#d-menu > span > ul {
  position: absolute;
  list-style: none;
  text-transform: none;
  width: 200px;
  padding: 15px 20px;
  transform: translateX(-10px);
  background: var(--primary);
  display: none;
}
#d-menu > span:hover > ul {
  display: block;
}
#d-menu > span > ul > li {
  padding: 10px;
}
#d-menu > span > ul > li:first-child {
  border-bottom: 1px solid lightgray;
}
#d-menu > span > ul > li::first-letter {
  text-transform: uppercase;
}