/**
 * AUTHOR   : JB
 * PROJECT  : Histoires d'atelier
 * DESCR    : Global App's styles
 * TAGS     : REACT APP
 */

/* ==================== INDEX ====================
 
 1. BODY & GLOBAL STYLES
 2. CUSTOM FONTS
 3. CUSTOM TOOLS
 4. PAGES TEMPLATE
 5. RESPONSIVE
 6. ANIMATIONS
 
*/
 
/* 1. VARIABLES, BODY & GLOBAL STYLES
________________________________________________________ */
:root {
  --primary: rgb(240, 239, 234);
  --secondary: rgb(40, 42, 44);
	--active: slategrey;
	--kalinsha: 'kallinsharegular';
	--arnopro: 'ArnoPro';
	--medium-y: 1100px;
	--small-y: 900px;
	--xs-y: 600px;
	--spacer: 100px;
	--spacinho: 50px;
}
body {
	background-color: var(--primary);
	color: var(--secondary);
	padding: 0;
	margin: 0;
}
#root {
	height: 100%;
  margin: 0;
	padding: 0;
  font-family: var(--arnopro);
	font-size: 1.5rem;
	text-align: justify;
}
h1 {
	font-family: var(--kalinsha);
	font-size: 3.5rem;
	font-weight: lighter;
}
p {
	margin: 2rem auto;
}
h2 {
	font-family: serif;
	font-size: 1.75rem;
	font-weight: lighter;
	font-style: italic;
}
h3 {
	text-transform: uppercase;
  font-size: 1rem;
	font-weight: lighter;
}
a {
	text-decoration: none;
	color: var(--secondary);
}
/* 2. CUSTOM FONTS
________________________________________________________ */
@font-face {
	font-family: 'kallinsharegular';
	src: url('fonts/kallinsha-webfont.woff2') format('woff2'),
			 url('fonts/kallinsha-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ArnoPro';
	src: url('fonts/ArnoPro-Regular.woff2') format('woff2'),
			 url('fonts/ArnoPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* 3. CUSTOM TOOLS
________________________________________________________ */
.spacer {
	width: 100%;
	height: var(--spacer);
}
.spacinho {
	width: 100%;
	height: var(--spacinho);
}
.hide {
  display: none!important;
}
.sider {
	width: 30%;
}
/* 4. PAGES TEMPLATE
________________________________________________________ */
/* Loading screen */
#loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}
main {
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
	width: var(--medium-y);
  margin: 0 auto;
}
#content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: calc(100vw - 18px);
	margin: 0;
	padding: 0;
}
/* 5. RESPONSIVE
________________________________________________________ */
/* BIG SCREEN > 1920
________________________________________________________ */
@media only screen and (min-width: 1921px) {
}
/* MEDIUM SCREEN > 1365
________________________________________________________ */
@media only screen and (max-width: 1920px) {
}
/* SMALL SCREEN > 1023
________________________________________________________ */
@media only screen and (max-width: 1365px) {
	main {
		width: var(--medium-y);
	}
}
/* TABLET > 500
________________________________________________________ */
@media only screen and (max-width: 1024px) {
	main {
		width: 99%;
	}
}
/* MOBILE < 500
________________________________________________________ */
@media only screen and (max-width: 500px) {
	main {
		width: auto;
		margin: 20px;
	}
	#content-wrapper > div:nth-child(3) {
		display: none;
	}
	/* .sider {
		display: none;
	} */
	#content-wrapper {
		justify-content: center;
	}
}
/* 6. ANIMATIONS
________________________________________________________ */
/* horizontal-slide left */
@-webkit-keyframes slide-left {
  0% { transform: translateX(0); }
  .05% { transform: translateX(-45vw); opacity: 0; }
  .051% { transform: translateX(45vw); opacity: 0; }
	.10% { transform: translateX(0); opacity: 1; }
}
@keyframes slide-left {
  0% { transform: translateX(0); }
  .05% { transform: translateX(-45vw); opacity: 0; }
  .051% { transform: translateX(45vw); opacity: 0; }
	.10% { transform: translateX(0); opacity: 1; }
}
/* horizontal-slide right */
@-webkit-keyframes slide-right {
  0% { transform: translateX(0); }
  .05% { transform: translateX(45vw); opacity: 0; }
  .051% { transform: translateX(-45vw); opacity: 0; }
	.10% { transform: translateX(0); opacity: 1; }
}
@keyframes slide-right {
  0% { transform: translateX(0); }
  .05% { transform: translateX(45vw); opacity: 0; }
  .051% { transform: translateX(-45vw); opacity: 0; }
	.10% { transform: translateX(0); opacity: 1; }
}
/* Entry animation */
@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  .1% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0% { opacity: 0; }
  .1% { opacity: 1; }
  100% { opacity: 1; }
}
