/**
 * AUTHOR   : JB
 * PROJECT  : Histoires d'atelier blue prints
 * DESCR    : Global App's styles
 * TAGS     : CSS3 WEB COMPONENTS 
 */

/* ==================== INDEX ====================
 
 1. HTML & BODY
 2. CUSTOM FONTS
 3. MAIN & FOOTER TAG STYLING
 
*/
 
/* 1. VARIABLES & BODY
________________________________________________________ */
:root {
  --primary: rgb(240, 239, 234);
  --secondary: rgb(40, 42, 44);
	--kalinsha: 'kallinsharegular';
	--arnopro: 'ArnoPro';
}
body {
  background-color: var(--primary);
	color: var(--secondary);
	height: 100%;
  margin: 0;
	padding: 15px;
  font-family: var(--arnopro);
}
/* 2. CUSTOM FONTS
________________________________________________________ */
@font-face {
	font-family: 'kallinsharegular';
	src: url('fonts/kallinsha-webfont.woff2') format('woff2'),
			 url('fonts/kallinsha-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ArnoPro';
	src: url('fonts/ArnoPro-Regular.woff2') format('woff2'),
			 url('fonts/ArnoPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* 3. MAIN & FOOTER TAGS STYLING
________________________________________________________ */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}
footer {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer > p {
	width: 100%;
	margin-top: 40px;
	text-align: center;
}