/**
 * GLOBAL > FOLLOW US.CSS
 */
#d-follow-us {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  text-align: center;
}
#d-follow-us i {
  margin: 5px;
}
#d-follow-us h3 {
  width: 180px;
}
#d-follow-us > img {
  height: 33px;
  margin: 6px;
}
#d-social-icons {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}