/**
 *  GLOBAL > #g-footer-wrapper.CSS
 */
@media only screen and (max-width: 550px) {
  #g-footer-wrapper {
    flex-direction: column;
    justify-content: center!important;
    align-items: center!important;
    width: inherit!important;
  }

  #g-footer-wrapper > div:first-child {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}
footer {
  width: 100%;
  background: linear-gradient(var(--secondary), black);
  color: var(--primary);
}
#g-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 1100px;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  font-size: 1.25rem;
  text-align: center;
}
#g-footer-wrapper > div:first-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#g-footer-wrapper > div:not(:first-child) {
  margin-top: 50px;
}
#g-footer-wrapper > div > div:first-child {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--primary);
}
#g-footer-wrapper > div > section#logo {
  width: 190px;
  background-size: 60%!important;
}
#g-footer-wrapper > div > section#logo > span:first-child {
  font-size: 2rem;
}
#g-footer-wrapper > div > section#logo > span:nth-child(2) {
  font-size: .75rem;
}