/**
 * GLOBAL > QUOTE.CSS
 */
@media only screen and (max-width: 550px) {

}
#d-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 630px;
  text-align: center;
}
#d-quote > span {
  font-size: 5rem;
}
#d-quote > span:last-child {
  padding-top: 120px;
}
#d-descr > h1 {
  margin-top: 0;
  text-align: center;
}
#d-descr {
  width: 800px;
}