/**
* GLOBAL > WHATS-NEW.CSS
*/
#g-whats-new > h1 {
  text-align: center;
}
#g-check-insta a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: inherit;
  width: fit-content;
}
#g-check-insta > a > i {
  margin-left: 10px;
  transition: .2s all ease-in-out;
}
#g-check-insta:hover i {
  transform: translateY(-4px);
}
#g-check-insta {
  display: flex;
  justify-content: flex-end;
}